{% extends 'blogs/base.html' %}

{% block page_header %}
  <h1>Blogs</h1>
{% endblock page_header %}

{% block content %}

  <ul class="list-group border-bottom pb-2 mb-4">
    {% for blog in blogs %}
      <li class="list-group-item border-0">
        <a href="{% url 'blog:blog' blog.id %}">
          {{ blog.name }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">No blogs to display.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'blog:new_blog' %}">Add a new blog</a>

{% endblock content %}